body {
  background-color: #131421;
}

.active {
  color: #fff;
  font-weight: bold;
}

@media (max-width: 768px) {
  #ul-list {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

@media (min-width: 768px) {
  #ul-closeBigscreen {
    display: none;
  }
}
